<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" strict="true"
    name="XMLConfigTest" packages="org.apache.logging.log4j.test">
    <Filter type="ThresholdFilter" level="trace" />

    <Appenders>
        <Console name="STDOUT">
            <Layout type="PatternLayout" pattern="%m %n" />
        </Console>
        <RollingFile name="rollingFile"
            fileName="logs/hippodrome.log"
            filePattern="logs/hippodrome.%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d %-5p %c: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval = "1" />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepth="2">
                    <IfFileName glob="hippodrome.*.log" />
                    <IfLastModified age="P7D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="rollingFile" />
        </Root>
    </Loggers>

</Configuration>